@model AssetMaintenance.BAL.DTO.FuelRecord_DetailDto
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div id="modalSaveItemData" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header padding15">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title ">
                    Save Fuel Item Detail
                </h5>
            </div>
            <form id="manualcreate">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.HiddenFor(model => model.FuelRecord_DetailId)

                        </div>
                        <div class="form-group col-lg-2">
                            <label>Date<span class="req" style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = "Date", id = "ManualDate", required = "required" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Date Created<span class="req" style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.DateCreated, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = "Date Created", id = "ManualDateCreated", required = "required" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Voucher Number</label>
                            @Html.TextBoxFor(model => model.VoucherNumber, new { @class = "form-control", placeholder = "Voucher Number", id = "ManualVoucherNumber" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Cost Centre/ Location</label>
                            @Html.TextBoxFor(model => model.CostCentreLocation, new { @class = "form-control", placeholder = "Cost Centre/ Location", id = "ManualCostCentreLocation" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Registration No.<span class="req" style="color:red">*</span></label>
                            @*@Html.TextBoxFor(model => model.RegistrationNo, new { @class = "form-control ", placeholder = "Registration No.", id = "ManualRegistrationNo", required = "required" })*@
                            @Html.DropDownListFor(model => model.RegistrationNo, new SelectList(ViewBag.RegistrationNoList, "Key", "Value"), "-- Select RegistrationNo --", new { @class = "form-control", id = "ManualRegistrationNo" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Filling Station </label>
                            @*@Html.TextBoxFor(model => model.FillingStation, new { @class = "form-control", placeholder = "Filling Station", id = "ManualFillingStation" })*@
                            @Html.DropDownListFor(model => model.FillingStation, new SelectList(ViewBag.FillingStationName, "Key", "Value"), "-- Select FillingStation --", new { @class = "form-control", id = "ManualFillingStation" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Driver</label>
                            @Html.TextBoxFor(model => model.Driver, new { @class = "form-control", placeholder = "Driver", id = "ManualDriver" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Fuel Type<span class="req" style="color:red">*</span></label>
                            @Html.DropDownListFor(m => m.FuelType,
                            new SelectList(new List<SelectListItem>
                                {
                                new SelectListItem { Text = "Petrol", Value = "Petrol"},
                                new SelectListItem { Text = "Diesel", Value = "Diesel"},
                                new SelectListItem { Text = "Gasoline", Value = "Gasoline"}
                                }, "Value", "Text"),
                                "-- Select Fuel Type --",
                                new { @class = "form-control", id = "ManualFuelType", required = "required" })
                        </div>

                        <div class="form-group col-lg-4">
                            <label>Quantity Litres<span class="req" style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.QuantityLitres, new { @class = "form-control allownumericwithdecimal", placeholder = "Quantity Litres", id = "ManualQuantityLitres", required = "required" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Actual Mileage</label>
                            @Html.TextBoxFor(model => model.ActualMilage, new { @class = "form-control allownumericwithdecimal", placeholder = "Actual Mileage", id = "ManualActualMileage" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Current Mileage</label>
                            @Html.TextBoxFor(model => model.CurrentMilage, new { @class = "form-control allownumericwithdecimal", placeholder = "Current Mileage", id = "ManualCurrentMileage" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Amount(Excl. Vat)<span class="req" style="color:red">*</span></label>
                            
                            @Html.TextBoxFor(model => model.AmountExVal, new { @class = "form-control allownumericwithdecimal", placeholder = "Amount(Excl. Vat)", id = "ManualAmount", required = "required", max="100" })
                            <input type="hidden" id="vatper" name="pervatde" value="@ViewBag.vat" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Discount Amount</label>
                           
                            @Html.TextBoxFor(model => model.DiscountAmount, new { @class = "form-control allownumericwithdecimal", placeholder = "Discount Amount", id = "ManualDiscountAmount", max = "100" })
                           
                            
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Vat Amount</label>
                            @Html.TextBoxFor(model => model.VatAmount, new { @class = "form-control allownumericwithdecimal", placeholder = "Vat Amount", id = "MaunalVatAmount" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Amount inc.vat<span class="req" style="color:red">*</span></label>
                            @Html.TextBoxFor(model => model.AmountInVal, new { @class = "form-control allownumericwithdecimal", placeholder = "Amount inc.vat", id = "ManualAmountInc", required = "required" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer  padding15">
                    <div class="form-group col-lg-12 text-right">
                        <button class="btn btn-success" id="btnCreateFuelManualRecord" onclick="FuelManagementGrid()" type="button">Save</button>
                        <button id="btnCancel" type="reset" class="cancel btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
       
        $("#ManualFuelType").change(function () {
            var supid = $("#SupplierName").val();
            if (supid > 0) {
                $.ajax({
                    type: "GET",
                    url: '/FuelManagement/GetFuelResult',
                    data: { 'id':supid },
                   
                    success: function (response) {

                        debugger;
                        $.each(response.Html, function () {
                            if (this.Key === $('#ManualFuelType').val()) {
                                $('#ManualAmountInc').val(this.Value.Price);
                                $('#ManualDiscountAmount').val(this.Value.Discount);
                                $('#vatper').val();
                                calculateBaseValue();
                            }

                           
                        }); 
                        
                       
                    },
                    error: function (error) {
                        alert("errror");
                    }
                });
            }
            else {
                alert('Plese Select Supplier in Header Form');
            }

        });
    });
    function calculateBaseValue() {
        debugger;
        var vatper = $('#vatper').val();
        var amount = $('#ManualAmountInc').val();
        var totalper = 1 + (vatper / 100);
        var amt = amount / totalper;
        var decimalAmt = Math.round(amt * 100) / 100;
        var decimalvatAmt = Math.round((amount - amt) * 100) / 100;

        $("#ManualAmount").val(decimalAmt.toFixed(2));
        $("#MaunalVatAmount").val(decimalvatAmt.toFixed(2));
        //$.ajax({
        //    type: "GET",
        //    url: '/FuelManagement/Getvatdetail',
            

        //    success: function (lstKeyValue) {

        //        debugger;
        //        $.each(lstKeyValue.Html, function () {
        //            if (this.Key === $('#ManualFuelType').val()) {
                       
        //                $('#vatper').val(this.Value.Vat);
        //                xyz(150);
        //            }


        //        });


        //    },
        //    error: function (error) {
        //        alert("errror");
        //    }
        //});
        //var per = document.getElementById("vatper").Value;
    }
</script>