@model AssetMaintenance.BAL.DTO.FuelRecordDto
@using AssetMaintenance.Helper

<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "ControlPanel")">Fuel Management</a></li>
                    <li class="active">
                        <span>Fuel Management</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Fuel Management
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel" style="padding-top:30px;" id="InputFormDiv">
    <div class="hpanel">
        <div class="panel-body">
            <form id="createFuelRecordForm" role="form" method="post">

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Filling Station</label>
                        <input id="FillingStation" class="form-control" name="FillingStation" placeholder="Filling Station">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Period</label>
                        @Html.TextBoxFor(model => model.Period, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" , placeholder = "Period" })
                        @*<input type="text" id="Period" class="form-control datepicker" name="Period" placeholder="Period" >*@
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Registration No.</label>
                        <input type="text" id="RegistrationNo" class="form-control" name="RegistrationNo" placeholder="Registration No.">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Fuel Invoice</label>
                        <input id="FuelInvoice" class="form-control" name="FuelInvoice" placeholder="Fuel Invoice">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Batch No.</label>
                        <input id="BatchNo" class="form-control" name="BatchNo" placeholder="Batch No.">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Retail Price</label>
                        <input type="text" id="RetailPrice" class="form-control" name="RetailPrice" placeholder="Retail Price">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Discount</label>
                        <input type="text" id="Discount" class="form-control" name="Discount" placeholder="Discount">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Total Amount</label>
                        <input type="text" id="TotalAmount" class="form-control" name="TotalAmount" placeholder="Total Amount">
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="btnCreateFuelRecord">Save</button>
                    <button id="btnCancel" type="button" formnovalidate class="cancel btn btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="FuelListGridDiv">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="FuelList" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center" width="15%">FillingStation</th>
                                    <th class="text-center" width="5%">Period</th>
                                    <th class="text-center" width="15%">RegistrationNo</th>
                                    <th class="text-center" width="10%">FuelInvoice  </th>
                                    <th class="text-center" width="10%">BatchNo</th>
                                    <th class="text-center" width="8%">RetailPrice </th>
                                    <th class="text-center" width="8%">Discount </th>
                                    <th class="text-center" width="8%">TotalAmount </th>
                                </tr>
                            </thead>
                            <tbody id="myBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datepicker/css")

}
@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")

    <script type="text/javascript">
    toastr.options = {
        "debug": false,
        "newestOnTop": false,
        "positionClass": "toast-top-center",
        "closeButton": true,
        "debug": false,
        "toastClass": "animated fadeInDown",
    };

        $(function () {
            $('.datepicker').datepicker({ autoclose: true, format: 'dd/mm/yyyy' });

            bindFuelList();
            $("#btnCreateFuelRecord").click(function () {
                createFuelRecord();
                $("#createFuelRecordForm").validate({
                    rules: {
                        FillingStation: {
                            required: true
                        },
                        RegistrationNo: {
                            required: true
                        },
                        FuelInvoice: {
                            required: true
                        },
                        BatchNo: {
                            required: true
                        },
                        RetailPrice: {
                            required: true
                        },
                        Discount: {
                            required: true
                        },
                        TotalAmount: {
                            required: true
                        }
                    },
                    submitHandler: function (form) {
                        createFuelRecord();
                    }
                });

            });
        });

     function createFuelRecord() {
        //swal({
        //    title: 'Create Fuel Record',
        //    text: 'Are you sure you want to create fuel record ?',
        //    type: "warning",
        //    showCancelButton: true,
        //    confirmButtonColor: "#DD6B55",
        //    confirmButtonText: "Yes"
        //},
        // function () {

             $("#upsertCompanyLoader").show();

            var formData = new FormData($('#createFuelRecordForm')[0]);
             formData.append('FillingStation', $("#FillingStation").val());
             formData.append('Period', $("#Period").val());
             formData.append('RegistrationNo', $("#RegistrationNo").val());
             formData.append('FuelInvoice', $("#FuelInvoice").val());
             formData.append('BatchNo', $("#BatchNo").val());
             formData.append('RetailPrice', $("#RetailPrice").val());
             formData.append('Discount', $("#Discount").val());
             formData.append('TotalAmount', $("#TotalAmount").val());

            $.ajax({
            type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                url: '@Url.Action("CreateFuelRecord", "FuelManagement")',
                success: function (data) {
                    
                    bindFuelList();
                    toastr.success("Fuel Record inserted successfully.");
            }
            });
        //});
        }

        function bindFuelList() {
            $.ajax({
                type: 'Get',
                data: '',
                
                url: '@Url.Action("ViewFuelList", "FuelManagement")',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    $.each(data, function (i, item) {
                        var tr;
                        tr = $('<tr />');
                        tr.append("<td class='text-center' data-title='Asset'>" + item.FillingStation + "</td>");
                        tr.append("<td class='text-center' data-title='AssetNo'>" + getFormattedDate(item.Period) + "</td>");
                        tr.append("<td class='text-center' data-title='Maintenance'>" + item.RegistrationNo + "</td>");
                        tr.append("<td class='text-center' data-title='Status'>" + item.FuelInvoice + "</td>");
                        tr.append("<td class='text-center' data-title='Reminder'>" + item.BatchNo + "</td>");
                        tr.append("<td class='text-center' data-title='NextMaintenance'>" + item.RetailPrice+ "</td>");
                        tr.append("<td class='text-center' data-title='History'> " + item.Discount+ "</td>");
                        tr.append("<td class='text-center' data-title='Edit'> " + item.TotalAmount +"</td>");
                        $("#FuelList tbody").append(tr);
                    });
                    htmlToDataTable();
                }
            });
        }

    </script>

}