@model AssetMaintenance.BAL.DTO.FuelMasterViewModelDto
<link href="~/Vendor/jquery-ui/themes/blitzer/jquery-ui.css" rel="stylesheet" />


<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active">
                        <span>Manage Fuel Price </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Manage Fuel Price
            </h2>
            <small>Manage Fuel Price</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="form-group col-lg-3">
            <label class="control-label">Supplier<span class="req">*</span></label>
            @Html.DropDownList("SupplierId", new SelectList(ViewBag.Supplier, "Value", "Key"), "-- Select Supplier --", new { @class = "form-control", id = "SupplierId", required = "required" })
        </div>

    </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Fuel
                </div>
                <div class="panel-body">
                    <div id="divFuelDetail">
                        @Html.Partial("_FuelDetails", @Model.FuelList)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Diesel
                </div>
                <div class="panel-body">
                    <div id="divDieselDetail">
                        @Html.Partial("_DieselDetails", @Model.DieselList)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Gasoline
                </div>
                <div class="panel-body">
                    <div id="divGasolineDetail">
                        @Html.Partial("_GasolineDetails", Model.GasoloneList)
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Styles {
    <style>
        .req {
            color: red!important;
        }
    </style>
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtFuelDate").datepicker();
            $("#txtDieselDate").datepicker();
        });
        function DecimalNumberOnly(e) {
            var $this = $(e);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(e).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 4) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 4));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 3) &&
                (event.which != 0 && event.which != 8) &&
                ($(e)[0].selectionStart >= text.length - 3)) {
                event.preventDefault();
            }
        }

        function AddFuelDetail(type) {
            if ($("#frm" + type).valid()) {
                var FuelMasterDto = {
                    FuelId: 0,
                    Price: $("#txt" + type + "Price").val(),
                    Discount: $("#txt" + type + "Discount").val(),
                    PriceDate: $("#txt" + type + "Date").val(),
                    SupplierId: $("#SupplierId").val(),
                    Type: type
                }

                if ($("#txt" + type + "Price").val() != "" || $("#txt" + type + "Discount").val() != "" || $("#txt" + type + "Date").val() != "") {
                    if ($("#SupplierId").val() != "") {
                        $.ajax({
                            type: "POST",
                            dataType: "HTML",
                            url: "/FuelPricingMaster/AddFuelMaster",
                            data: { objModel: FuelMasterDto },
                            contentType: 'application/x-www-form-urlencoded',
                            success: function (data) {
                                if (data != "") {
                                    toastr.success("Record added succesfully.");
                                    $("#div" + type + "Detail").html(data);
                                }
                            },
                            error: function () {
                                alert("Error occured!!")
                            }
                        });
                    }
                    else {
                        toastr.error("Please select supplier to save record.")
                    }
                }
            }
        }
    </script>
}
