@using AssetMaintenance.Helper

<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <button class="btn btn-info btn-xs pull-right" type="button"><i class="fa fa-arrow-circle-left"></i> <span class="bold" style="padding-left:5px;">Maintenance</span></button>
                    </li>
                    <li class="active">
                        <span>Maintenance By Status </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Maintenance By Status  <label id="lblString">@(Request.QueryString["maintenanceType"] == "1" ? "OVERDUE" : (Request.QueryString["maintenanceType"] == "2" ? "TO SCHEDULE" : (Request.QueryString["maintenanceType"] == "3" ? "SCHEDULED" : (Request.QueryString["maintenanceType"] == "4" ? "IN PROGRESS" : (Request.QueryString["maintenanceType"] == "5" ? "COMPLETED" : (Request.QueryString["maintenanceType"] == "6" ? "VALID" : (Request.QueryString["maintenanceType"] == "7" ? "EXPIRED" : "")))))))</label>
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel" id="dashBoardContainer">
   <strong style="float:left;padding:5px;">Select Status :</strong>
    @Html.DropDownList("MaintStatusId", new SelectList(ViewBag.Organisations.Items, "MaintStatusId", "Description"), new { @class = "form-control", onchange = "getMaintenanceByStatusList()" ,id= "MaintStatusId" ,style="width:150px;float:left;"} )
    <div id="ToasterMessage" class="text-center content animate-panel row" style="display:none; padding-top:10px;">
    </div>

    <div class="row" id="MaintenanceListGridDiv">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="MaintenanceList" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center" width="15%">Asset</th>
                                    <th class="text-center" width="5%">Asset No</th>
                                    <th class="text-center" width="15%">Maintenance</th>
                                    <th class="text-center" width="10%">Status </th>
                                    <th class="text-center" width="10%">Reminder</th>
                                    <th class="text-center" width="8%">Next Maintenance</th>
                                    <th class="text-center" width="8%">History</th>
                                    <th class="text-center" width="8%">Edit</th>
                                </tr>
                            </thead>
                            <tbody id="myBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="MaintenanceHistoryModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title  text-center" id="modalTitle">Maintenance History</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="hpanel blog-box text-center" id="SearchedUserProfile">
                        <table id="MaintenanceDataList" class="table table-striped table-bordered table-hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th class="text-center">Asset</th>
                                    <th class="text-center">Maintenance</th>                                    
                                    <th class="text-center">Actual Odometer</th>
                                    <th class="text-center">Actual EngineHrs</th>
                                    <th class="text-center">Start Date</th>
                                    <th class="text-center">End Date</th>
                                    <th class="text-center">Amount</th>
                                    @*<th class="text-center" width="8%">History</th>*@
                                </tr>
                            </thead>
                            <tbody id="myMaintBody"></tbody>
                        </table>
                        @*<partial name="_ViewMaintanence" />*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCloseModal" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>
@section Styles {

    <style type="text/css">
        .loader {
            background: url("../images/Custom/ui-anim_basic_16x16.gif");
            background-repeat: no-repeat;
            background-position: right;
        }
        .modal-content{
            width:700px !important;
        }
    </style>
    @Styles.Render("~/bundles/datatables/css")

}
@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")

    <script type="text/javascript">
        $(document).ready(function () {

            getMaintenanceByStatusList();

            $("#btnCloseModal").click(function () {
                $("#MaintenanceHistoryModal").modal('hide');
            });
        });

        function getMaintenanceByStatusList() {
            var str = 0;
            
            if (window.location.href.split('?')[1] != undefined)
                str = window.location.href.split('?')[1].split('=')[1];
            if (str == 0)
                str = $("#MaintStatusId").val();
            debugger;
                    $.ajax({
                        type: 'Post',
                        data: JSON.stringify({ maintenanceType: str }),
                        @*'@MaintenanceStatus.OverDue'}),*@
                        url: '@Url.Action("MaintenanceByStatusList", "Maintenance")',
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (data)
                        {
                            @*var Mstatus = @Request.QueryString["maintenanceType"]*@                                
                            $.fn.DataTable.isDataTable("#MaintenanceList");
                            $('#MaintenanceList').DataTable().clear().destroy();
                            
                            $.each(data, function (i, item) {
                                var tr;
                                tr = $('<tr />');
                                tr.append("<td class='text-center' data-title='Asset'>" + item.Asset + "</td>");
                                tr.append("<td class='text-center' data-title='AssetNo'>" + item.AssetNo + "</td>");
                                tr.append("<td class='text-center' data-title='Maintenance'>" + item.Maintenance + "</td>");
                                tr.append("<td class='text-center' data-title='Status'>" + item.MaintenanceStatus + "</td>");
                                tr.append("<td class='text-center' data-title='Reminder'>" + getFormattedDate(item.Reminder) + "</td>");
                                tr.append("<td class='text-center' data-title='NextMaintenance'>" + getFormattedDate(item.NextMaintenance) + "</td>");
                                tr.append("<td class='text-center' data-title='History'> " +
                                    "<div> <a href='javascript:void(0)' onclick='maintenanceHistory(this," + item.URI + "," + item.MaintenanceID+")' data-asset=" + item.Asset + " class='btn btn-xs btn-default'><i class='fa fa-search-plus text-success'></i><span class='bold'> View</span></a></div>" +
                                    "</td>");
                                    tr.append("<td class='text-center' data-title='Edit'> " +
                                        "<div> <a href='/Maintenance/BindMaintenanceDetail?id=" + item.URI + "&mainId=" + item.MaintenanceID + "&statusId=" + (str == 0 ? item.MaintenanceID:str) + "'  data-asset=" + item.Asset + " class='btn btn-xs btn-default'><i class='fa fa-pencil text-success'></i><span class='bold'> Edit</span></a></div>" +
                                    "</td>");
                                $("#MaintenanceList tbody").append(tr);
                            });
                            htmlToDataTable();
                        }
                    });

        }
        function htmlToDataTable() {
            var table = $('#MaintenanceList').dataTable(
                {
                    "lengthChange": false,
                    "deferRender": true,
                    "bDestroy": true
                }
            );
        }

        function maintenanceHistory(a,id,mainteId) {
            var assetName = $(a).attr("data-asset");
            $("#MaintenanceDataList tbody").html('');
            $("#modalTitle").text("Maintenance History for " + assetName);
            $("#MaintenanceHistoryModal").modal('show');

            $.ajax({
                type: "GET",
                ///url: '_ViewMaintanence',
                url: '@Url.Action("ViewMaintanenceList", "Maintenance")',
                datatype: "json",
                data: { id: id, maintId: mainteId },
                success: function (data) {
                    $.each(data, function (i, item) {
                        var tr;
                        tr = $('<tr />');
                        tr.append("<td class='text-center' data-title='Asset'>" + item.Asset + "</td>");
                        tr.append("<td class='text-center' data-title='Maintenance'>" + item.Maintenance + "</td>");
                        tr.append("<td class='text-center' data-title='ActualOdometer'>" + (item.ActualOdometer == null ? 0 : item.ActualOdometer) + "</td>");
                        tr.append("<td class='text-center' data-title='ActualEngineHrs'>" + (item.ActualEngineHrs == null ? 0 : item.ActualEngineHrs) + "</td>");
                        tr.append("<td class='text-center' data-title='StartDate'>" + getFormattedDate(item.StartDate) + "</td>");
                        tr.append("<td class='text-center' data-title='EndDate'>" + getFormattedDate(item.EndDate) + "</td>");
                        tr.append("<td class='text-center' data-title='Amount'>" + (item.Amount == null ? 0 : item.Amount) + "</td>");
                        //tr.append("<td class='text-center' data-title='History'> " +
                        //    "<div> <a href='javascript:void(0)' onclick='maintenanceDetail(this," + item.URI + ")' data-asset=" + item.Asset + " class='btn btn-xs btn-default'><i class='fa fa-search-plus text-success'></i><span class='bold'> Edit</span></a></div>" +
                        //    "</td>");
                        $("#MaintenanceDataList tbody").append(tr);
                    });
                    debugger;
                    htmlToDataTable();
                    ///$('#myMaintBody').html(tr);
                }
            });

        }



    </script>
}